@import "../../shared/_variables.scss";
@import "../../shared/mixins.scss";

.center {
  grid-area: main-info;
  display: grid;
  grid-template-rows: 452px calc(100vh - 3rem);
  
  row-gap: $space-between;
  overflow-y: scroll;
  
  width: 100%;
  max-width: 75rem;
  justify-self: center;
  
  @include media-min-width(40rem) {
    overflow-y: visible;
    grid-template-rows: 660px 100vh;
  }

  #top-cases-n-map {
    display: grid;
    grid-template-columns: 1fr 15.5rem;
    column-gap: 6px;
    padding: 0 $section-padding;
    padding-bottom: $section-padding;

    @include media-min-width(40rem) {
      grid-template-columns: 1fr;
    }

    #map,
    #top-countries {
      display: grid;
      grid-template-rows: 2.5rem 1fr;
    }

    #top-countries main {
      display: grid;
      grid-template-rows: repeat(4, 5.5rem);
      align-content: space-between;
    }
  }
}