@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");
@import "./mixins.scss";

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

header {
  p {
    font-weight: 500;
  }
}

// body {
//   background-color: #E5E5E5;
//   display: grid;
//   grid-template-columns: 3rem 1fr;
//   grid-template-rows: 100vh;
//   grid-template-areas: "menu main";

//   @include media-min-width(40rem) {
//     display: block;
//   }
// }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}