@import "_variables.scss";

body {
  display: grid;
  grid-template-columns: 3rem 1fr;
  grid-template-rows: 100vh;
  grid-template-areas: "menu main";
}

nav#side-nav {
  grid-area: menu;
  display: grid;
  grid-template-rows: 3rem 1fr;
  grid-template-areas:
    "logo"
    "navs";
  justify-items: center;
  align-items: center;

  .logo {
    grid-area: logo;
  }

  ul {
    grid-area: navs;

    li {
      margin: 35px 0;
    }
  }
}

main#main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 20rem;
  grid-template-rows: 3rem 1fr;
  column-gap: $space-between;
  padding: 0 $space-between;
  grid-template-areas:
    "header header"
    "main-info total-info";
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .top-cases-legend {
    display: flex;
  }

  &.main-header {
    grid-area: header;
  }
}

section.all-cases {
  grid-area: main-info;
  display: grid;
  grid-template-rows: 452px calc(100vh - 3rem);
  row-gap: $space-between;
  overflow-y: scroll;

  #top-cases-n-map {
    display: grid;
    grid-template-columns: 1fr 14rem;
    column-gap: 10px;
    padding: 0 $section-padding;
    padding-bottom: $section-padding;

    #map,
    #top-countries {
      display: grid;
      grid-template-rows: 2.5rem 1fr;
    }

    #top-countries main {
      display: grid;
      grid-template-rows: repeat(4, 5.5rem);
      // row-gap: $space-between;
      align-content: space-between;
    }
  }

  #all-countries {
    display: grid;
    grid-template-rows: 4rem 1fr;

    header {
      display: grid;
      grid-template-columns: 12rem repeat(6, 1fr);
      column-gap: 5px;
      padding-left: 23px;
    }

    main {
      overflow-y: scroll;
      &::-webkit-scrollbar {
          display: none;
      }
      scrollbar-width: none;
      ul {
        display: grid;
        grid-auto-rows: 3rem;
        align-items: center;
        li {
          display: grid;
          grid-template-columns: 12rem repeat(6, 1fr);
          column-gap: 5px;
          padding-left: 23px;
          height: 100%;
          align-items: center;

          &.grey-background {
            background-color: #f2f3f5;
          }
        }
      }
    }
  }
}

///////////////////// Brief Section

section.brief {
  grid-area: total-info;
  display: grid;
  grid-template-rows: repeat(2, minmax(11.75rem, 1fr)) auto;
  row-gap: 8px;
  align-content: center;

  div.total-cases {
    display: grid;
    grid-template-rows: 2.5rem 1fr;
    // height: 16.9rem;

    main {
      display: grid;
      grid-template-rows: 3rem 1fr;
      row-gap: 15px;

      .total-breakdown {
        display: grid;
        grid-template-columns: auto repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 14px;
        row-gap: 12px;
        grid-template-areas:
          "chart active recorded"
          "chart deaths ...";
        align-items: center;

        .chart {
          grid-area: chart;
          width: 5rem;
        }

        div {
          p.num {
            font-size: 1rem;
            font-weight: 500;
          }

          &.total__active {
            grid-area: active;
          }

          &.total__rec {
            grid-area: recorded;
          }

          &.total__deaths {
            grid-area: deaths;
          }
        }
      }
    }
  }

  .advice-div {
    display: grid;
    grid-template-rows: 2.5rem 1fr;

    main {
      // display: grid;
      // grid-template-columns: auto 1fr;
      // column-gap: 7px;
      // align-items: center;

      // img {
      //     width: 5rem;
      // }
    }
  }
}
